<h1>Listing ideas</h1>

<% @photos.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |photo| %>
      <div class="span4">
        <%= image_tag photo.file_url, :size => '100%' if photo.file.present?%>

        <h4><%= link_to photo.file, photo %></h4>
        <%= photo.description %>
      </div>
    <% end %>
  </div>
<% end %>
